body{
  background-color: gainsboro;
}

.display form {
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 14px;
    border-color: darkgray;
    border-style: groove;
    border-width:thick;
    padding: 15px;
    height: 50%;
    margin: 14px 280px;
  }

  div {
    margin: 0px 280px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 3fr 2fr ;
      
  }

  #location {
    text-align: center;
    background-color: darkgrey;
    border-radius: 21px;
    border-color: cornflowerblue;
    border-style: groove;
    border-width:thick;
    padding: 7px;
    height: auto ;
    grid-column: span 3;
    margin-right: 21px 
    ;
    /* vertical-align: middle; */
  }

  ul{
    list-style: outside;
  }
  
  .bold {
    font-weight: bold;
  }

  .nextiousSearch{
    list-style: circle;
  }
